[Desktop Entry]
Type=Application
Exec=gnome-terminal -- /bin/bash -c "~/.local/bin/snap-post-install.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=LegoxOS Apps Installer
Name=LegoxOS Apps Installer
Comment[en_US]=Install Snap apps on first boot
Comment=Install Snap apps on first boot
